@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 337 17% 11%;
    --card: 0 0% 100%;
    --card-foreground: 337 17% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 337 17% 11%;
    --primary: 351 86% 66%;
    --primary-foreground: 0 0% 98%;
    --secondary: 339 37% 94%;
    --secondary-foreground: 337 17% 11%;
    --muted: 339 37% 94%;
    --muted-foreground: 337 10% 40%;
    --accent: 339 37% 94%;
    --accent-foreground: 337 17% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 339 37% 94%;
    --input: 339 37% 94%;
    --ring: 351 86% 66%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overscroll-behavior: none;
  }
}
